<div> 
  <img src="assets/img/pancakes_icon.svg" (click)="toggleNav()" class="pancake">
  
  <img src="assets/img/search.svg" class="search" [class.selected]="showSearchBox" (click)="showSearchBox = showSearchBox ? false:true">
  <div class="search-field" *ngIf="showSearchBox" >
    <input type="text" placeholder="SEARCH" #searchBox autofocus>
    <button (click)="goSearch(searchBox.value); showSearchBox = false">GO</button>
  </div>
</div>

<div>
  <div>
    <img src="assets/img/nyt_logo.svg" id="logo">
  </div>

  <div>
    <p>{{ today }}</p>
  </div>
</div>

<div class="masthead">
  <ul>
    <li *ngFor="let heading of mastHeadings">{{ heading }}</li>  
  </ul>
</div>



