<div class="briefings">

  <div *ngFor="let article of artcilesArray" class="article">

    <div class="image"></div>
    <div class="copy">
      <h3>{{ article.headline}}</h3>
      <p>{{ article.blurb }}</p>
    </div>
  </div>

  <div *ngIf="gpscResults.ready && djiaResults.ready" class="stock-ticker">
    <p>
      S&P 500: <span [class]="gpscResults.changePercent > 0 ? 'up':'down' "> {{ gpscResults.changePercent }} </span>
    </p>
    <p>
      Dow: <span [class]="djiaResults.changePercent > 0 ? 'up':'down' "> {{ djiaResults.changePercent }} </span>
    </p>
  </div>

  <div class="localized-weather">
    <img src="assets/img/weather_icons/{{ weather.icon }}.svg" class="weather-icon">

    <div class="copy">
      <p id="weather">
        {{ weather.fahrenheit | number:'1.0-0' }}°F
      </p>
      <p>
        {{ weather.styledLocation}}
      </p>

    </div>
  </div>
</div>
