<div class="briefings">

  <div *ngFor="let article of artcilesArray" class="article">

    <div class="image"></div>
    <div class="copy">
      <h3>{{ article.headline}}</h3>
      <p>{{ article.blurb }}</p>
    </div>
  </div>

  <div class="stock-ticker">
    <p>
      S&P 500: <span [class]="gspc > 0 ? 'up':'down' "> {{ gspc }} </span>
    </p>
    <p>
      Dow: <span [class]="djia > 0 ? 'up':'down' "> {{ djia }} </span>
    </p>
  </div>

  <div class="localized-weather">
    <img src="{{ weather.icon }}" class="weather-icon">

    <div class="copy">
      <p id="weather">
        {{ weather.fahrenheit | number:'1.0-0' }}°F
      </p>
      <p>
        {{ weather.styledLocation}}
      </p>

    </div>
  </div>
</div>
