.nav {
  border-radius: 4px;
  box-shadow: 8px 0px 12px 0px #e9e9e9d1;
  border-right: 1px #dbdbdb solid;
  background-color: white;
  width: 300px;
  z-index: 999;
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
}